@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap");
* {
  font-family: "Mukta", sans-serif;
}
body {
  background: #ead2ac;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20% 0 30%;
}
.container_navbar {
  max-width: 1440px;
  margin: 0 auto;
}
