@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap");
* {
  font-family: "Mukta", sans-serif;
}
body {
  background: #d1dede;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
