.card-block {
  max-width: 30px;
  display: flex;
  align-items: center;
  .btn-remove {
    opacity: 0;
    transition: opacity 0.05s ease-in-out;
    pointer-events: unset;
    border: none;
    outline: none;
    background-color: inherit;
    cursor: pointer;
  }
  &:hover .btn-remove {
    opacity: 0.3;
    transition: opacity 0.25s ease-in-out;
  }
  &:hover .btn-remove:hover {
    opacity: 0.8;
    transition: opacity 0.25s ease-in-out;
  }
}
